body {
  background: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ff0000;
}

/* CONTENT */
.content {
  background: #a39e07;
}

/* FOOTER */

.footer {
   padding: 0px;
   border-radius: 0 0 10px 10px;
   position:absolute;
   top: 95%;
   width:100%;
   background:#000000;
}