body {
  background: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ff0000
}

/* CONTENT */
@-webkit-keyframes color_change {
		  from { color: blue; }
		  to { color: ##3B1260; }
		}
		@-moz-keyframes color_change {
		  from { color: blue; }
		  to { color: #3B1260; }
		}
		@-ms-keyframes color_change {
		  from { color: blue; }
		  to { color: #3B1260; }
		}
		@-o-keyframes color_change {
		  from { color: blue; }
		  to { color: #3B1260; }
		}
		@keyframes color_change {
		  from { color: blue; }
		  to { color: #3B1260; }
		}

.content {
  background: #000000;
  color: #3B1260;
  text-align: center;
  margin: 0px;
  line-height: 5px;
}

.text {
  color: blue;
	-webkit-animation: color_change 5s infinite alternate;
	-moz-animation: color_change 5s infinite alternate;
	-ms-animation: color_change 5s infinite alternate;
	-o-animation: color_change 5s infinite alternate;
	animation: color_change 5s infinite alternate;
}

/* FOOTER */

.footer {
   padding: 0px;
   border-radius: 0 0 10px 10px;
   position:absolute;
   top: 95%;
   width:100%;
   background:#000000;
}