#speed {
    position: fixed;
    top: 10px;
    left: 90px;
    height: 2px;
    width: 50px;
    -webkit-appearance: none !important;
}

#speed::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: grey;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    cursor: pointer;
}

#soundButton { 
    transition: all .2s ease-in-out; 
}

#soundButton:hover { 
    transform: scale(1.1); 
}

#downButton:hover { 
    transform: scale(1.1); 
}

#upButton:hover { 
    transform: scale(1.1); 
}