body, html{
	margin:0;
	padding:0;
	width:100%;
}

ul {
	width: 100%;
	list-style-type: none;
	display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;
	height:100%;
	font-weight: bold;
	font-family: josefin slab;	
	white-space: nowrap;
}

li {
	float: left;
	width: 20%;	
	margin: 2%;
	text-decoration: none; 
}

a {	
	text-decoration: none; 
}

/*
@media (min-width: 0) and (max-width: 367) {
	.menuItem {
		font-size: .5em;
	}
}

@media (min-width: 367) and (max-width: 768) {
	.menuItem {
		font-size: .75em;
	}
}

@media (min-width: 768) and (max-width: 1018px) {
	.menuItem {
		font-size: 1em;
	}
}

@media (min-width: 1018px) {
	.menuItem {
		font-size: 1.25em;
	}
}
*/