/*Menu*/
body {
	margin: 0;
}

ul.topnav {
list-style-type: none;
	display: inline-table;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	text-align: center;
	height:35px;
	font-size: 1.4em;
	font-weight: normal;
	font-family: josefin slab;
}

ul.topnav li {
	float: left;
	height:35px;
	width:145px;
}

ul.topnav li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
}

ul.topnav li a.active {
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}