.menuItem {
	font-size: 1.25em;
}

body, html{
	margin:0;
	padding:0;
	width:100%;
}

ul {
	width: 100%;
	list-style-type: none;
	display: inline-table;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	text-align: center;
	height:35px;
	font-size: 1.4em;
	font-weight: normal;
	font-family: josefin slab;	
}

li {
	float: left;
	width: 20%;	
	text-decoration: none; 
	text-align: center;
}

a {
	text-decoration: none; 
	text-align: center;
}

/*
@media (min-width: 0) and (max-width: 367) {
	.menuItem {
		font-size: .5em;
	}
}

@media (min-width: 367) and (max-width: 768) {
	.menuItem {
		font-size: .75em;
	}
}

@media (min-width: 768) and (max-width: 1018px) {
	.menuItem {
		font-size: 1em;
	}
}

@media (min-width: 1018px) {
	.menuItem {
		font-size: 1.25em;
	}
}
*/