/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------ELEMENTS-----------------------------------------*/
/*-----------------------------*/

/*-------------------WINDOW-*/

/*-------------------DOCUMENT-*/

html {
}

head {
}

body	{
}

table	{
	align:left;
	width:100%;
	border-collapse:collapse;
	border-spacing:0px;
	border:none;
	outline:none;
	padding:0px;
	margin:0px;
	cellpadding:0px;
	cellspacing:0px;
	text-align:center;
}

tr	{
	halign:center;
	text-align:center;
}

tbody td,
thead th,
tfoot th	{
	padding:0px;
	margin:0px;
	border:none;
	outline:none;
}

font {
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .6s ease-out
}

/*---------------------OTHER*/

/*-------------------------------*/
/*-----------------------------------------EVENTS-----------------------------------------*/
/*-------------------------------*/

/*---------------------WINDOW*/

/*---------------------DOCUMENT*/

font:hover { color:red  }

/*---------------------OTHER*/

/*-------------------------------*/
/*----------------------------------------------------------------------------------------*/