//DOCUMENT
.mainHTML	{
	margin:0px;
	min-width:100%;
	}

.mainBody	{
	background-color:black;
	margin:0px;
	min-width:100%;
	}




//HEADER
.headerTable    {
        margin:0px;
        }

.headerColumn   {
	background-color:black;
	margin:0px;
	width:30%;
	height:10px;
        }




//MAIN
.mainTable      {
        margin:0px;
        }

#mainCanvas	{
	margin:0px;
	}




//FOOTER
#footerTable 	{
	margin:0px;
	min-width:100%;
	}

#footerFillerColumn	{
	background-color:black;
	margin:0px;
	width:33%;
	}

##footerColumn 	{
	background-color:black;
	margin:0px;
	}
