<!DOCTYPE HTML>
<html>
<head>
    <title>Web Sockets</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect('https://' + document.domain + '/socketio/test', { transports: [ 'websocket' ] } );
            socket.on('connect', function() {
                //connect
            });
            socket.on('disconnect', function() {
                //disconnected
            });
            socket.on('my response', function(msg) {
                //msg.data
            });

            //socket.emit('my event', {data: 'me')});
            //socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
            //socket.emit('join', {room: $('#join_room').val()});
            //socket.emit('leave', {room: $('#leave_room').val()});
            //socket.emit('my room event', {room: $('#room_name').val(), data: $('#room_data').val()});
            //socket.emit('close room', {room: $('#close_room').val()});
            //socket.emit('disconnect request');
        });
    </script>
</head>
<body>
</body>
</html>
